h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 700;
}

.header-span {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-top: -0.5rem;
  text-transform: lowercase;
  display: block;
}

button,
.token-input {
  display: block;
  margin: auto;
  height: 3rem;
  text-align: center;
}

button {
  background-image: linear-gradient(to right, #f4a431, #c65e26);
  border: none;
  margin-bottom: 1rem;
}

button:hover {
  box-shadow: 0 1rem 2rem rgba(23, 62, 46, 0.9);
  cursor: pointer;
}

.token-input {
  margin-bottom: 1rem;
}
